.App {
  text-align:left;
  background-color: black;
}

.center{
  flex-direction: column;
  display: flex;
  justify-content: left;
  align-items: flex-start;

}


.header{
  color:rgb(112, 180, 106);

}

.App-print{
  color:white;

}

li{
  flex-direction: column;
}
